
services:
  web:
    build: .
    container_name: parda_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - exports_volume:/app/exports
    ports:
      - "8000:8000"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    restart: unless-stopped

  celery_worker:
    build: .
    container_name: parda_celery_worker
    command: celery -A core worker --loglevel=info
    volumes:
      - .:/app
      - exports_volume:/app/exports
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    restart: unless-stopped

  celery_beat:
    build: .
    container_name: parda_celery_beat
    command: celery -A core beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: parda_redis
    restart: unless-stopped

volumes:
  exports_volume: