services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.prod

  django-web:
    build: .
    container_name: django-docker
    ports:
      - "${PORT:-8000}:8000"
    depends_on:
      - db
    volumes:
      - ./staticfiles:/app/staticfiles
      - parda-volume:/app/media
    env_file:
      - .env.prod

volumes:
  postgres_data:
  parda-volume: